<div class="input-group mb-3 my-3">
  <input type="text" class="form-control" placeholder="Nome" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
  <input type="password" class="form-control" placeholder="Senha" aria-label="senha" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
  <input type="email" class="form-control" placeholder="Email" aria-label="email" aria-describedby="basic-addon1">
</div>
<div>
  <button class="btn btn-primary">Cadastrar</button>
</div>